<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <style>
        table {
            /* width: 50%; */
            margin: 10px;
            padding: 5px;
            text-align: center;
        }

        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0.5em;
            vertical-align: middle;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        main{
            min-height: 80vh;
        }
        .modal-footer{
          background-color: powderblue;
          border-radius: 5px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Company Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/station.ejs">Station</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newitem.html">New Item</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0"action="/search" method="POST" autocomplete="off">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search in C1..." name="query" id="query" aria-label="Search">
                  <input type="hidden" id="station" name="station" value="c1">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="container" style="margin-top: 3em;">
          
          <table id="table" class="table">
            <thead>
              <tr aria-rowspan="5" style="background: azure;">
                <td colspan="6">C1</td>
              </tr>
              <tr>
                <td>Serial No.</td>
                <td>Size</td>
                <td>GCT</td>
                <td>HT</td>
                <td>Submit</td>
                <td>Used</td>
              </tr>
            </thead>
            <tbody class="square" style="cursor: grab;">
              <!-- <div> -->
                <% for(var i=records.length-1, j=0; 0 < i; i--) {%>
                  <% if(records[i].station == 'c1') {%>
                    <% j++ %>
                    <tr class="item">
                      <form action="/send" method="POST" autocomplete="off">
                        <td>
                          <input name="serialno" id="seriano" type="text" placeholder="Serial No" class="form-control border-left-0" value="<%= j %>" readonly>
                        </td>
                        <td>
                          <input name="size" type="text" id="size" placeholder="size" class="form-control border-left-0" value="<%= records[i].size %>">
                        </td>
                        <td>
                          <input name="gct" id="gct" type="text" placeholder="gct" class="form-control border-left-0" value="<%= records[i].gct %>">
                        </td>
                        <td>
                          <input name="ht" id="ht" type="text" placeholder="ht" class="form-control border-left-0" value="<%= records[i].ht %>">
                        </td>
                        <!-- <td>
                          <input name="station" id="station" type="text" placeholder="station" class="form-control border-left-0" value="<%= records[i].station %>">
                        </td> -->
                        <td>
                            <div class="container">
                              <button type="button" class="btn btn-outline-success" style="margin-bottom: 20px;" data-toggle="modal" data-target="#exampleModal"
                                name="statoion2">
                                <i class="fa fa-paper-plane"></i>
                                Send
                              </button>
                        </td>
                        <!-- Button trigger modal -->
                        <!-- <button type="button" class="btn btn-primary" >
                          Launch demo modal
                        </button> -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Where do you want to send the item?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <!-- <form method="post" id="tableForm" action="/a1"> -->
                                  <select class="example" name="example">
                                      <option name="" value="0" selected>Select</option>
                                      <option name="a1" value="a1">A1</option>
                                      <option name="a2" value="a2">A2</option>
                                      <option name="a3" value="a3">A3</option>
                                      <option name="b1" value="b1">B1</option>
                                      <option name="b2" value="b2">B2</option>
                                      <option name="b3" value="b3">B3</option>
                                      <option name="c1" value="c1">C1</option>
                                      <option name="c2" value="c2">C2</option>
                                      <option name="c3" value="c3">C3</option>
                                      <option name="d1" value="d1">D1</option>
                                      <option name="d2" value="d2">D2</option>
                                      <option name="d3" value="d3">D3</option>
                                  </select>
                                <!-- </form> -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <!-- <a href="/a1"> -->
                                <button type="submit" class="btn btn-primary">
                                <i class="fa fa-paper-plane"></i>
                                Send
                              </button>
                              <!-- </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <td>
                            <div class="container">
                              <button type="submit" class="btn btn-outline-danger" style="margin-bottom: 20px;"
                                name="statoion2">
                                <i class="fa fa-paper-plane"></i>
                                Used
                              </button>
                            </div>
                        </td>
                      </form>
                    </tr>  
                  <%} %>
                <%} %>
              <!-- </div> -->
            </tbody>
          </table>
        </div>
    
        </div>
        <div class="container">
          <form class="form-inline my-2 my-lg-0"action="/generatesheet" method="post" autocomplete="off">
            <input type="hidden" id="station" name="station" value="c1">
            <button type="submit" class="btn btn-outline-success">Generate sheet</button>
          </form>
        </div>
      </main>
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="http://beast-adamantt.herokuapp.com/beastadamant"> BEAST ADAMANT</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
<script>
  const dragArea = document.querySelector('.square');
  new Sortable(dragArea,{
    Animation: 350
  });
</script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</html>